In [2]:
#import neccesary modules
import pandas as pd

In [6]:
#read titanic data
df = pd.read_csv("titanic.csv")
df.head()

,PassengerId,Name,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Survived
0,1,"Braund, Mr. Owen Harris",3,male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,"Heikkinen, Miss. Laina",3,female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,female,35.0,1,0,113803,53.1000,C123,S,1
4,5,"Allen, Mr. William Henry",3,male,35.0,0,0,373450,8.0500,NaN,S,0

In [11]:
#do data exploration by dropping unnecessary columns
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Embarked','Fare'], axis='columns', inplace=True)
df.head()

KeyError: "['PassengerId' 'Name' 'SibSp' 'Parch' 'Ticket' 'Embarked' 'Fare'] not found in axis"